/* react-client/src/components/Footer.css */

footer {
  background-color: #f8f8f8;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  margin: 0;
}

footer a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

footer a:hover {
  text-decoration: underline;
}
